{extend name="common/layout" /}
<!--  -->
{block name='body'}
<div class="content-wrapper">
  <h1 class="page-header center">{$title}</h1>
  <form action="/admin/role" method="post" class="form-wrapper">
    <div class="form-group mx-sm-3 mb-2">
      <label for="exampleInputEmail1">角色</label>
      <input type="role_name" class="form-control" name="role_name" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="exampleInputPassword1">角色描述</label>
      <input type="describe" class="form-control"  name="describe" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </form>
</div>
{/block}
